.input_field {
    width: 480px;
}

table {
    border-collapse: separate;
    border-spacing: 2rem;
}

.font-size {
    font-size: 1.2rem;
}

.detail{
    height:7rem;
    width: 150px;
}

#something {
    height: 7rem;
}

#done {
    padding: 0.3em 0.6em;
    font-size: 2.5rem;
    color: aliceblue;
    display: block;
    margin: 0 auto;
    background-color: teal;
    border: none;
}

#done:hover {
    opacity: 0.5;
    cursor: pointer;
}
